* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --delay-time: 5s;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 0.3fr 1fr;
}

.canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.wheel{
    width: 0;
    height: 0;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: var(--delay-time) cubic-bezier(0.19, 0.72, 0.4, 1);
}

.wheel div{
    height: 50%;
    position: absolute;
    left: 50%;
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    writing-mode: sideways-lr;
    transition: all 1s ease;
}

.arrow{
    position: absolute;
    top: calc(100vh / 2 - (var(--d-wheel) - 10px) / 2);
    z-index: 10;
    background-color: black;
    width: 50px;
    height: 50px;
    transform-origin: top;
    opacity: 0;
    clip-path: polygon(100% 0px, 50% 100%, 0px 0px);
    transition: all 1s var(--delay-time);
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 0;
    text-transform: uppercase;
    border: 8px solid;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 2s ease;
}


.todo-list {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: space-between;
}

#todos {
    resize: none;
    height: 100%;
    padding: 5px;
    font-family: sans-serif;
    outline: none;
}

.todo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.todo input {
    padding: 3px;
    width: 100%;
    display: block;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

button{
    text-transform: uppercase;
    padding: 3px 7px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 20px;
}

.information div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border: 1px solid;
    border-radius: 20%;
    font-family: fantasy;
    font-size: 55px;
    overflow: hidden;
}

.information span {
    font-size: 20px;
    color: #c4c4c4;
}

.information input{
    outline: none;
    border: none;
    text-align: center;
    display: inline-flex;
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-family: inherit;
}
